## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

print(mouse_metadata.head())
print(study_results.head())

# Combine the data into a single dataset
df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
# Display the data table for preview
df
df.columns

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16
  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'],
      dtype='object')

In [2]:
df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [3]:
df["Mouse ID"].unique()
print(len(df["Mouse ID"].unique()))

249

In [4]:
# TRIAL AND ERROR
indexed_df = df.set_index(["Mouse ID", "Timepoint"])
indexed_df.duplicated()
XcleanX_df = indexed_df.drop_duplicates()
XcleanX_df.count

<bound method DataFrame.count of                    Drug Regimen   Sex  Age_months  Weight (g)  \
Mouse ID Timepoint
k403     0             Ramicane  Male          21          16
         5             Ramicane  Male          21          16
         10            Ramicane  Male          21          16
         15            Ramicane  Male          21          16
         20            Ramicane  Male          21          16
...                         ...   ...         ...         ...
z969     25            Naftisol  Male           9          30
         30            Naftisol  Male           9          30
         35            Naftisol  Male           9          30
         40            Naftisol  Male           9          30
         45            Naftisol  Male           9          30

                    Tumor Volume (mm3)  Metastatic Sites
Mouse ID Timepoint
k403     0                   45.000000                 0
         5                   38.825898                 0
         10                  35.014271                 1
         15                  34.223992                 1
         20                  32.997729                 1
...                                ...               ...
z969     25                  63.145652                 2
         30                  65.841013                 3
         35                  69.176246                 4
         40                  70.314904                 4
         45                  73.867845                 4

[1885 rows x 6 columns]>

In [5]:
# TRIAL AND ERROR
XcleanX_df.index.duplicated()

array([False, False, False, ..., False, False, False])

In [6]:
# TRIAL AND ERROR
XcleanX_df.index

MultiIndex([('k403',  0),
            ('k403',  5),
            ('k403', 10),
            ('k403', 15),
            ('k403', 20),
            ('k403', 25),
            ('k403', 30),
            ('k403', 35),
            ('k403', 40),
            ('k403', 45),
            ...
            ('z969',  0),
            ('z969',  5),
            ('z969', 10),
            ('z969', 15),
            ('z969', 20),
            ('z969', 25),
            ('z969', 30),
            ('z969', 35),
            ('z969', 40),
            ('z969', 45)],
           names=['Mouse ID', 'Timepoint'], length=1885)

In [7]:
# Getting the duplicate entries by mouse ID number that show up for Mouse ID and Timepoint.

# ON THE RIGHT TRACK
indexdf2 = df.set_index(["Mouse ID"])
timpoint_duplicates = indexdf2["Timepoint"].duplicated()
duplicate_rows = indexdf2[timpoint_duplicates]
duplicate_check = indexdf2[indexdf2.duplicated(["Timepoint"])]
duplicate_check

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
s185,Capomulin,Female,3,17,0,45.000000,0
s185,Capomulin,Female,3,17,5,43.878496,0
s185,Capomulin,Female,3,17,10,37.614948,0
s185,Capomulin,Female,3,17,15,38.177232,0
s185,Capomulin,Female,3,17,20,36.866876,0
...,...,...,...,...,...,...,...
z969,Naftisol,Male,9,30,25,63.145652,2
z969,Naftisol,Male,9,30,30,65.841013,3
z969,Naftisol,Male,9,30,35,69.176246,4
z969,Naftisol,Male,9,30,40,70.314904,4
z969,Naftisol,Male,9,30,45,73.867845,4

In [8]:
# WORKS USE
dups = df[df.duplicated(["Mouse ID", "Timepoint"])]
dups

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [10]:
# WORKS USE
clean_df = df.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep='last')
clean_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [ ]:
# Optional: Get all the data for the duplicate mouse ID.

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [13]:
# Checking the number of mice in the clean DataFrame.
# WORKS USE
print(len(clean_df["Mouse ID"].unique()))

249

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, 
# and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for a for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. timepoint for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen